
<div class="container main">
  <div class="container"></div>
  <p class="navbar-brand">Weather App</p>
  <div class="container">
    <input [(ngModel)]="city" class="form-control" placeholder="City/Town">
    <button (click)="getWeather()" class="btn btn-success">Check</button>
  </div>
  
  
  <div class="container sec">
    <img src={{weatherData.current.condition.icon}}>
    <p class="temp">{{weatherData.current.temp_c+"°C"}}</p>
    <p class="location">{{weatherData.location.name}},{{" "+weatherData.location.region}},{{" "+weatherData.location.country}}</p>
    <p>{{weatherData.current.condition.text}}</p>
  </div>  
</div>
